html, body {
    height: 100%;
    margin: 0;
}
main {
    display: grid;
    grid-template-columns: 200px 1fr 200px; 
    gap: 20px;
    min-height: 100vh;
}
aside {
    grid-column: 1;
}
article {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 250px));
    gap: 20px;
    align-items: start; 
}
.cikk {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 250px;

}
.cikk .kep {
    grid-row: 1;
    text-align: center;
}
.cikk h2 {
    grid-row: 2;
    text-align: center;
    margin: 10px 0;
}
.cikk p {
    margin: 0;
}
article .cikk:nth-child(3) {
    order: -1; 
}
nav {
    grid-column: 3;
    display: grid;
    grid-template-rows: repeat(auto-fill, min-content); 
    background-color: #333;
    height: 100%;         
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: min-content;
    width: 100%;
    height: 100%;
    justify-content: start;
}
nav li {
    width: 100%;
    text-align: center;
    margin: 0px;
}

nav a {
    display: block;
    padding: 14px 0;
    text-decoration: none;
    color: white;
}
nav li:hover {
    background-color: #ff9800;
}
nav li:hover a {
    color: black;
}
#active {
    background-color: #666;
}
@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr; 
    }
    nav ul {
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }
    nav li {
        margin: 0 5px;
    }
    nav a {
        padding: 10px 12px;
    }
    article {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}